<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- To add: read title from map object into page -->
    <title>Edit Map</title>

    <!-- External Style and Scripts -->
    <%include ./partials/_external_tags.ejs%>


    <link rel="stylesheet" href="/styles/maps_edit.css" type="text/css" />

  </head>

  <body data-user_id=<%=user ? user : undefined%>>
    <!-- to add: skiplink -->
    <%include ./partials/_nav.ejs%>
    <main>
      <div id="map-container" class="map-container">
        <div id="map" data-id=<%=map.id%> data-city=<%=map.city%>>
        </div> <!-- map -->

        <div id="about-map-container" class="container edit-container">
          <h2 id="map-title"><%= map.title %></h2>
          <div class="row">
            <p id="map-subject-label">Subject: </p>
            <p id="map-subject"><%= map.subject %></p>
          </div>
          <div class="row">
            <p id="map-description"><%= map.description %></p>
          </div>
        </div> <!-- about map container -->

        <div id="pin-container" class="container edit-container">
          <div id="pin-container-header" class="row justify-content-center">
            <h2>Your Pins</h2>
          </div> <!--pin container header  -->
          <div id="all-pins">
          </div> <!-- all-pins -->
        </div> <!-- pin-containesr -->
        <% if (user) { %>
          <div id="search-container" class="container edit-container">

            <form id="search-form" action="" class="form-group">
              <div class="row justify-content-center">
                <label class="form-item" for="search-map-input"><h2>Search</h2></label>
              </div>
              <div class="row justify-content-center">
                <input id="search-map-input" class="form-item form-control" name="searchInput" placeholder="Search map"></input>
              </div>
              <div class="row justify-content-center">
                <button id="search-map-btn" class="btn btn-primary" type="submit">Search</button>
              </div>
            </form>
          </div> <!-- search container -->

          <div id="search-results-container" class="container edit-container">
            <div id="search-results-header" class="row justify-content-center">
              <h2>Results</h2>
            </div>
          </div> <!-- search-container -->
        <% } %>
      </div>
    </main>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->

    <!-- Helpers -->
    <script type="text/javascript" src="/scripts/helpers.js"></script>

    <!-- <script src="/scripts/init_map.js"></script> -->
    <script src="/scripts/map_functions.js"></script>

    <!-- NEW SCRIPT THAT INCLUDES PLACES LIBRARY -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwTwnh2Y7IqPIcltHVnlKMyBPI8pF5UcY&libraries=places&callback=initMap" async defer></script>

    <!-- Components -->
    <script type="text/javascript" src="/scripts/components/all_pins.js"></script>

    <!-- Ajax -->
    <script type="text/javascript" src="/scripts/ajax/ajax_pin.js"></script>

    <!-- Driver -->
    <script type="text/javascript" src="/scripts/maps_edit.js"></script>

  </body>
</html>
